BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 0

# One True Brace Style
BreakBeforeBraces: Attach

BraceWrapping:
  AfterControlStatement: false
  AfterFunction: false
  AfterStruct: false
  AfterEnum: false
  AfterUnion: false
  AfterClass: false
  BeforeElse: false
  BeforeCatch: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
